*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium';
}

.bg1{
    background-image: url("hotel.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

ul{
    float: right;
    list-style: none;
    margin-top: 25px;

}

ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    text-align: center;
    color: black;
}
.content h1{
    font-size: 60px;
    margin-top: 0%;
}
.content p{
    margin: auto;
    font-weight: 200;
    line-height: 55px;
    font-size: larger;
}
button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: medium;
}
button:hover{
    border: 1px; solid #f44336;
    background: #f44336;
    transition: 1s;
}
.c1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 250px;

}
.c2{
    position: absolute;
    top: 0px;
    left: 400px;
    width: 700px;
    height: 250px;
}
.c3{
    position: absolute;
    top: 0px;
    left: 700px;
    width: 500px;
    height: 250px;
}
.P1{
    position: absolute;
    top: 300px;
    left: 0px;
    font-size: larger;
    font-weight: 500;
    color: #f44336;
    z-index: 6;
}
.P2{
    position: absolute;
    top: 350px;
    left: 0px;
    font-size: larger;
    font-weight: 100;
    font-style: oblique;
    z-index: 6;
}
.background{
    background-color: gray;
    opacity: 0.5;
    width: 50%;
    z-index: 5;
    left: 0;
    min-height: 1000px;
    position: absolute;
    min-width: 500px;
    top: 300px;
}
.founder{
    position: absolute;
    right: 250px;
    top: 300px;
    z-index: 6;
}
.Ruto{
position: absolute;
top: 300px;
right: 80px;
border-radius: 120px;

}
    .background2{
        background-color: burlywood;
        opacity: 0.5;
        width: -50%;
        z-index: 5;
        right: 0;
        min-height: 1000px;
        position: absolute;
        min-width: 500px;
        top: 300px;
}
.color2{
    background-color: blueviolet;
}
.cointainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.cointainer2 .heading{
    width: 50%;
    padding-bottom: 50px;
}
.cointainer2 .heading h3{
    font-size: 3cm;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
}

.cointainer2 .heading h3 span{
    font-weight: 100;
}
.cointainer2 .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cointainer2 .box .dream{
display: flex;
flex-direction: column;
width: 32.5%;
}
.cointainer2 .box .dream img{
width: 100%;
padding-bottom: 15px;
border-radius: 15px;
}